html {
    font-size: 10px;
}

body {
    font-family: Verdana,sans-serif; 
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    font-size: 5rem;
    
}

h2 {
    font-size: 4.2rem;
    font-weight: 300;
}

#description {
    font-size: 2.1rem;
    color: gray;
}

#timer {
    font-size: 2.1rem;
    color: coral;
}

a {
    color: aquamarine;
    font-size: 1.6rem;
}

#copyright {
    text-align: right;
    color: gray;
    font-size: 1.4rem;
    margin-top: 5%;
}

img, video {
    margin: 5vh 0;
}


#big-img {
    width: 100%;
    height: auto;
}

#little-img {
    width: 15%;
    height: auto;
}

@media only screen and (min-width: 480px) {
    #big-img {
        width: 80%;
        height: auto;
    }
    
    #little-img {
        width: 10%;
        height: auto;
    }

    #copyright {
        text-align: right;
        color: gray;
        font-size: 1.7rem;
    }
}

@media only screen and (min-width: 1024px) {
    #big-img {
        width: 60%;
        height: auto;
    }
    
    #little-img {
        width: 5%;
        height: auto;
    }

    #copyright {
        text-align: right;
        color: gray;
        font-size: 2rem;
    }
}

